<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid mx-4">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Posts</a>
        </li>
      </ul>
      @if(authService.isLogedIn){
      <button mat-button [matMenuTriggerFor]="beforeMenu" class="d-flex"><mat-icon
          style="transform: scale(2.5);">account_circle</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item class="btn p-2" type="button" (click)="toggleAuth()">
          Log Out
          <mat-icon>login</mat-icon>
        </button>
      </mat-menu>
      }
      @else {
      <form class="d-flex" role="search">
        <button class="btn d-flex align-items-center" type="button" (click)="toggleAuth()">
          Log In
          <mat-icon class="ms-2">login</mat-icon>
        </button>
      </form>
      }
    </div>
  </div>
</nav>