<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container p-5" data-bs-theme="dark">
    <div class="row p-0 m-0">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
    </div>
    <div class="row p-0 m-0">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="row p-0 m-0 px-1">
      <div class="col-6">
        <button mat-raised-button type="button">
          <mat-icon>login</mat-icon>
          Log In
        </button>
      </div>
    </div>
  </div>
</form>